@import url('./geral.css');

main h1 {
  margin-top: 35px;
  text-decoration:none;
  font-size: 60px;
  text-align: center;
  font-family: "Mulish", sans-serif;
}
main p{
  margin-top: 20px;
  text-align: center;
}
section {
  min-height: 100vh;
}

